img{
    width: 100%;
    height: 100%;
}
.contenaireRecherche{
    width: 90%;
    margin: 15px auto;
}
#rechercherCategorie{
    width: 100%;
    background-color: #303541;
    border: none;
    font-size: 30px;
    color: white;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 180px;
    height: 280px;
    border-radius: 12px;
    margin: 10px 15px;
    position: relative;
}

.type{
    color: white;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.500);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;
    font-size: 20px;
    top: 10px;
    left: 25px;
}

/* edite */

.edite button{
    position: absolute;
    border: none;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
    padding: 5px;
    font-size: 15px;
    top: -10px;
    left: -10px;
}

.editeBack{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 4;
}

.editeControler{
    position: fixed;
    display: flex;
    right: 4.2%;
    top: 5.5%;
    z-index: 50;
}
.move, .reload, .close{
    width: 50px;
    height: 3.7vh;
    font-size: 1.5vh;
    background-color: black;
    border-radius: 50%;
}

.close{
    border: 0.3vh solid red;
    color: red;
}

.reload{
    border: 0.3vh solid rgb(0, 157, 255);
    color: rgb(0, 157, 255);
    margin: 0 15%;
}

.move{
    border: 0.3vh solid rgb(64, 255, 0);
    color: rgb(64, 255, 0);
}

.formController{
    display: flex;
    justify-content: space-around;
}

.enregistre, .brouillon, .desactiver{
    width: 30%;
    min-width: 78px;
    font-size: 20px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
}

.enregistre{
    background-color: rgb(64, 255, 0);    
}

.brouillon{
    background-color: rgb(0, 225, 255);
}

.desactiver{
    background-color: red;    
}

#description{
    display: block;
    width: 80%;
    max-width: 100%;
    min-width: 15%;
    height: 200px;
}
#nom{
    display: block;
}
#date{
    display: block;
}
#saison{
    display: block;
}

.editeContenaire {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    height: 85%;
    z-index: 5;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}
.left{
    width: 70%;
    background-color: red;
}
.right{
    background-color: #007bff;
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
}

/* clone */

#clone {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    height: 85%;
    z-index: 5;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    overflow: hidden;
}

/* moveBtn */
#moveBtn{
    background: linear-gradient(to right, #ff8a00, #e52e71);
    font-size: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 5;
    height: 70px;
    width: 70px;
}

.catalogimg{
    width: 95%;
    height: 90%;
    margin: auto;
    background-size: 100% 100%;
}

.like{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
}
.activeTrue{
    color: red;
    background-color: rgba(80, 80, 80, 0.600);
    border-radius: 50%;
    height: 40px;
    padding-top: 5px;
}
.activeTrue span{
    color: white;
}
.activeFalse{
    color: white;
    background-color: rgba(80, 80, 80, 0.600);
    border-radius: 50%;
    height: 40px;
    padding-top: 5px;
}
.cataLike{
    position: absolute;
    color: black;
    left: 16px;
    top: 12px;
    font-size: 14px;
}

.page{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.page a{
    text-decoration: none;
    color: white;
}
.current{
    color: rgb(63, 63, 255) !important;
}
.pagination span{
    color: white;
}


.pagination a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.pagination i {
    font-size: 18px;
    margin: 0 4px;
    color: #333;
}

.pagination a:hover i {
    color: #007bff;
}

.pagination span {
    margin: 0 4px;
    color: #333;
}