.contenaire{
    width: 1600px;
    margin: 30px auto;
}
.contenaireheader{
    display: flex;
}
.catalogImg{
    width: 350px;
    height: 500px;
}
.droite{
    color: white;
}
.description{
    font-size: 30px;
}
.ul{
    display: flex;
    justify-content: space-between;
}
.ul li{
    list-style-type: none;
}
.likeList{
    background-color: transparent;
    border: none;
    font-size: 28px;
}
.cataLikeList{
    color: white;
    font-size: 30px;
}