nav{
    background-color: #1E222C;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav #rechercher{
    background-color: #303541;
    border: none;
}
nav .likePgae{
    position: relative;
}
nav .nbLike{
    position: absolute;
    font-size: 10px;
        right: 8px;
        top: 8px;
}