.parametreBack{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: center;
}

.parametreLeft{
    width: 20%;
    height: 100%;
    background-color: red;
    position: relative;
}

#parametreReturn{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 1%;
    left: 2%;
}

.parametreRight{
    width: 60%;
    height: 100%;
    background-color: orange;
}