.controller{
    width: 90%;
    height: 70px;
    margin:  20px auto 0 auto;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
}

.block{
    background-color: white;
    width: 20%;
    height: 70%;
    margin-left: 30px;
    overflow: hidden;
}